data/index.md
data/analysis/nusc_ead_descs_pos_tags.csv
data/analysis/nusc_ead_descs_tokenized.csv
data/classified/
data/coded_and_classified/
data/extracted/
data/manually_coded_part1/
data/manually_coded_part2/
data/uoe/splits_as_csv/
data/uoe/all_token_data.csv
data/uoe/uoe_descriptions.txt
data/xml_paths.csv
data/nusc_descriptions_lower_alpha_no_stopwords.txt
data/nusc_descriptions_lower_alpha.txt
data/nusc_descriptions_lower.txt
data/nusc_descriptions.txt
data/GB.xml
models/embeddings/
embedding_models/nusc_word2vec_cbow_100d_context6.model
embedding_models/nusc_word2vec_cbow_100d_context6_min5.model
embedding_models/nusc_word2vec_cbow_100d_context8_min3.model
.ipynb_checkpoints/
__pycache__/
.DS_Store
